.App {
  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-json {
  text-align: left; /* Align text to the left */
  padding: 10px;
  max-height: 400px; /* Limit the height of the pre for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%; /* Full width */
  font-size: 14px;
  font-family: "Courier New", monospace;
  white-space: pre-wrap; /* Ensures the content wraps */
  word-wrap: break-word; /* Wraps long words */
  box-sizing: border-box; /* Ensure padding is accounted for in the width */
}